[submodule "Simple-Linear-Regression"]
	path = Simple-Linear-Regression
	url = https://github.com/kabir-fx/Simple-Linear-Regression.git
[submodule "Multiple-Linear-Regression"]
	path = Multiple-Linear-Regression
	url = https://github.com/kabir-fx/Multiple-Linear-Regression.git
[submodule "Logistic-Regression"]
	path = Logistic-Regression
	url = https://github.com/kabir-fx/Logistic-Regression.git
[submodule "Polynomial-Regression"]
	path = Polynomial-Regression
	url = https://github.com/kabir-fx/-Polynomial-Regression.git
[submodule "Decision-Tree-Regression"]
	path = Decision-Tree-Regression
	url = https://github.com/kabir-fx/Decision-Tree-Regression.git
[submodule "Random-Forest-Regression"]
	path = Random-Forest-Regression
	url = https://github.com/kabir-fx/Random-Forest-Regression.git
[submodule "Random-Forest-Classification"]
	path = Random-Forest-Classification
	url = https://github.com/kabir-fx/Random-Forest-Classification.git
[submodule "K-Nearest-Neighbors"]
	path = K-Nearest-Neighbors
	url = https://github.com/kabir-fx/K-Nearest-Neighbors.git
[submodule "Hierarchical-Clustering"]
	path = Hierarchical-Clustering
	url = https://github.com/kabir-fx/Hierarchical-Clustering.git
