[submodule "Simple-Linear-Regression"]
	path = Regression/Simple-Linear-Regression
	url = https://github.com/kabir-fx/Simple-Linear-Regression.git
[submodule "Multiple-Linear-Regression"]
	path = Regression/Multiple-Linear-Regression
	url = https://github.com/kabir-fx/Multiple-Linear-Regression.git
[submodule "Logistic-Regression"]
	path = Classification/Logistic-Regression
	url = https://github.com/kabir-fx/Logistic-Regression.git
[submodule "Polynomial-Regression"]
	path = Regression/Polynomial-Regression
	url = https://github.com/kabir-fx/-Polynomial-Regression.git
[submodule "Decision-Tree-Regression"]
	path = Regression/Decision-Tree-Regression
	url = https://github.com/kabir-fx/Decision-Tree-Regression.git
[submodule "Random-Forest-Regression"]
	path = Regression/Random-Forest-Regression
	url = https://github.com/kabir-fx/Random-Forest-Regression.git
[submodule "Random-Forest-Classification"]
	path = Classification/Random-Forest-Classification
	url = https://github.com/kabir-fx/Random-Forest-Classification.git
[submodule "K-Nearest-Neighbors"]
	path = Classification/K-Nearest-Neighbors
	url = https://github.com/kabir-fx/K-Nearest-Neighbors.git
[submodule "Hierarchical-Clustering"]
	path = Clustering/Hierarchical-Clustering
	url = https://github.com/kabir-fx/Hierarchical-Clustering.git
[submodule "K-Means-Clustering"]
	path = Clustering/K-Means-Clustering
	url = https://github.com/kabir-fx/K-Means-Clustering.git
[submodule "Support-Vector-Regression"]
	path = Regression/Support-Vector-Regression
	url = https://github.com/kabir-fx/Support-Vector-Regression.git
[submodule "Kernel-SVM"]
	path = Classification/Kernel-SVM
	url = https://github.com/kabir-fx/Kernel-SVM.git
[submodule "Support-Vector-Machine"]
	path = Classification/Support-Vector-Machine
	url = https://github.com/kabir-fx/Support-Vector-Machine.git
[submodule "Kernel-PCA"]
	path = Dimensionality_Reduction/Kernel-PCA
	url = https://github.com/kabir-fx/Kernel-PCA.git
[submodule "Classification/Naive-Bayes"]
	path = Classification/Naive-Bayes
	url = https://github.com/kabir-fx/Naive-Bayes.git
[submodule "Classification/Decision-Tree-Classification"]
	path = Classification/Decision-Tree-Classification
	url = https://github.com/kabir-fx/Decision-Tree-Classification.git
[submodule "Reinforcement Learning/Upper-Confidence-Bound"]
	path = Reinforcement Learning/Upper-Confidence-Bound
	url = https://github.com/kabir-fx/Upper-Confidence-Bound.git
[submodule "Reinforcement Learning/Thompson-Sampling"]
	path = Reinforcement Learning/Thompson-Sampling
	url = https://github.com/kabir-fx/Thompson-Sampling.git
[submodule "Dimensionality_Reduction/Principal-Component-Analysis"]
	path = Dimensionality_Reduction/Principal-Component-Analysis
	url = https://github.com/kabir-fx/Principal-Component-Analysis.git
[submodule "Dimensionality_Reduction/Linear-Discriminant-Analysis"]
	path = Dimensionality_Reduction/Linear-Discriminant-Analysis
	url = https://github.com/kabir-fx/Linear-Discriminant-Analysis.git
